<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>RailsShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column h-100">
      <header>
      <div class="px-3 py-2 text-bg-dark mb-3">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none h2">
              <i class="bi bi-cart3"></i> <span class="px-2">Rails-Shop</span>
            </a>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
              <li>
                <a href="/" class="nav-link text-secondary">
                  <i class="bi bi-house-door d-block mx-auto mb-1"></i> Home
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  <i class="bi bi-gear d-block mx-auto mb-1"></i> Admin
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                    <i class="bi bi-basket d-block mx-auto mb-1"></i> Basket
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="container flex-shrink-0">
    <%= yield %>
    </main>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container small text-end text-muted">
          <i class="bi bi-github"></i>
          <a href="https://github.com/lataniuk/ruby-shop" class="text-muted" target=_blank>GitHub</a>
      </div>
    </footer>
  </body>
</html>
